---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sobre Mí">
	<main>
		<h1>Sobre <span class="text-gradient">Mí</span></h1>
		<p>Contenido sobre el autor.</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
    h1 {
		font-size: 3rem;
		font-weight: 700;
		text-align: center;
	}
    .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
