---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hall of Fame">
	<main>
		<h1>Hall of Fame</h1>
		<p>Animaciones y destacados.</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
    h1 {
		font-size: 3rem;
		font-weight: 700;
		text-align: center;
	}
</style>
