---
const year = new Date().getFullYear();
---
<footer>
    <p>&copy; {year} Lo Veo y Te Digo. Casi todos los derechos reservados.</p>
</footer>
<style>
    footer {
        padding: 2rem;
        text-align: center;
        color: white;
        margin-top: auto;
    }
</style>
